<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>ReviewCheck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      .cover {
        background: linear-gradient(#1E00FF,#05FBFF);
        background-size: cover;
      }
    </style>
  </head>


<body class= "mx-5">
<header>
    <div class="cover py-3 px-3 text-white text-center">
        <h3 class= "font-weight-bold">口コミチェックしたいURLを入力</h3>
          <% if logged_in? %>
            <h5 class= "nav-item my-3 mx-3 font-weight-bold text-white">ようこそ <%= current_user.name %>さん</h5>
          <% end %>
                <div class="mx-5">
                <%= form_with url: results_path, method: :post do |form| %>
                    <%= form.text_field :url %>
                    <%= form.submit %>
                <% end %>
                </div>
    </div>
</header>
</body>
