<h1>チェック結果</h1>
<p>店舗名：<%= @result.place_name %></p>
<p>住所：<%= @result.address %></p>
<p>平均投稿数：<%= @result.count_ave %></p>
<p>平均星評価：<%= @result.star_ave %></p>
<p>平均文字数：<%= @result.text_ave %></p>
<p>信憑性度合い：<%= @result.credibility_rate %></p>
<p>厳選された星評価：<%= @result.credible_star_ave %></p>
<%= link_to "戻る",new_result_path %>
