<head>
  <style>
    ul li {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .box30 {
      margin: 2em 0;
      background: #f1f1f1;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    }

    .box30 .box-title {
      font-size: 1.2em;
      background: #00A082CC;
      padding: 4px;
      text-align: center;
      color: #FFF;
      font-weight: bold;
      letter-spacing: 0.05em;
    }

    .box30 p {
      padding: 15px 20px;
      margin: 0;
    }

    .recent-result {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .place_name {
      color: #FFF
    }
  </style>
</head>

<body>
  <header>
    <% if flash.notice %>
    <div class="alert alert-info text-center mb-0 rounded-0 alert-dismissible fade show">
      <%= flash.notice %>
      <button class="close" data-dismiss="alert">
        &times;
      </button>
    </div>
    <% end %>
    <%= render partial: 'results/form' %>
  </header>
  <main>
    <section class="text-left">
      <h3 class="my-3 mx-5 font-weight-bold text-center">直近の検索結果</h3>

      <div class="mt-3 mb-3 mx-5 recent-result">
        <% @result_histories.each do |result_history| %>
        <div class="box30">
          <div class="box-title"><span data-toggle="tooltip" title="クリックするとより詳細な情報を閲覧することが出来ます"
              data-placement="top"><%= link_to result_history.place.place_name, result_path(result_history.id),{class: "place_name"} %>
          </div>
          <p>Google星評価：<%= result_history.star_ave %>→<span data-toggle="tooltip" title="文字数50文字以上、投稿件数20件以上の投稿者に絞った評価"
              data-placement="bottom">厳選された星評価：<%= result_history.credible_star_ave %></span></p>
        </div>
        <% end %>
      </div>

    </section>
  </main>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous">
  </script>
  <script>
    $(function () {
      'use strict';
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</body>
