<head>
  <style>
    ul li {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .table-title {
      font-size: 1.2em;
      background: #00A082CC;
      padding: 4px;
      text-align: center;
      color: #FFF;
      font-weight: bold;
      letter-spacing: 0.05em;
    }

    table {
      margin: 2em 0;
      background: #f1f1f1;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    }

    .recent-result {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .return {
      color: #00A082CC;
    }

    .return-button {
      width: 90px;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      display: block;
      text-align: center;
      padding: 8px 0 10px;
      color: #00A082CC;
      background-color: #fff;
      border-radius: 3px;
      border-color: #00A082CC;
    }

    .place_name {
      color: #FFF
    }
  </style>
</head>

<body>
  <header>
    <%= render partial: 'results/form' %>
  </header>
  <main>
    <section class="text-center">
      <h3 class="my-3 mx-5 font-weight-bold text-center">チェック結果</h3>
      <div class="mt-3 mb-3 mx-5 recent-result">
        <table class="table table-hover">
          <thead class="table-title">
            <tr>
              <th>
                <%= link_to @place.place_name, "https://github.com/pekorinko/review_check/pull/63/files", {class: "place_name"} %>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>住所：<%= @place.address %></td>
            </tr>
            <tr>
              <td>Google星評価：<%= @result.star_ave %>→<span data-toggle="tooltip" title="文字数50文字以上、投稿件数20件以上の投稿者に絞った評価"
                  data-placement="right">厳選された星評価：<%= @result.credible_star_ave %></td>
            </tr>
            <tr>
              <td>口コミ投稿者の平均投稿数：<%= @result.count_ave %></td>
            </tr>
            <tr>
              <td>口コミ本文の平均文字数：<%= @result.text_ave %></td>
            </tr>
          </tbody>
        </table>
        <button class="return-button"><%= link_to "戻る",new_result_path, {class: "return"}%></button>
      </div>
    </section>
  </main>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous">
  </script>
  <script>
    $(function () {
      'use strict';
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</body>
