<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>ReviewCheck</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Font Awesome CDN -->
  <script src="https://kit.fontawesome.com/3270c2a344.js" crossorigin="anonymous"></script>
  <style>
    .info2 {
      display: block;
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #4287f5;
      color: #FFF;
      position: relative;
    }

    .info2::before {
      content: "";
      display: block;
      width: 3px;
      height: 3px;
      background: #FFF;
      border-radius: 50%;
      position: absolute;
      top: 3px;
      left: calc(50% - 1.5px);
    }

    .info2::after {
      content: "";
      display: block;
      width: 3px;
      height: 8px;
      background: #FFF;
      position: absolute;
      bottom: 4px;
      left: calc(50% - 1.5px);
    }
  </style>
</head>


<body class="mx-5">
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-white">
      <a href="/" class="navbar-brand ml-3 font-weight-bold">review_check</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-start" id="menu">
        <ul class="navbar-nav">
          <% if logged_in? %>
          <li class="nav-item">
            <%= link_to "ログアウト", logout_path, class: "nav-link", method: :delete %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "GitHubでログイン","/auth/github", class: "nav-link", method: :post %>
          </li>
          <li>
            <span class="font-weight-bold text-info" data-toggle="tooltip"
              title="ログインするとご自身が過去に検索した直近6件の検索結果を閲覧することが出来ます" data-placement="right">
              <a href="#" class="info2"></a>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
  <%= yield %>
  <footer class="text-center text-muted py-4">
    Copyright 2021 pekorinko
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous">
  </script>
</body>

</html>
