<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>ReviewCheck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body class= "mx-5">
  <!--
      <header class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
          <%= link_to "review_check", root_path, class: "navbar-brand mr-auto" %>
          <ul class="navbar-nav mr-auto">
            <% if logged_in? %>
                <li class= "nav-item"><%= link_to "ログアウト", logout_path, class: "nav-link", method: :delete %></li>
            <% else %>
                <li class= "nav-item active"><%= link_to "GitHubでログイン", "/auth/github", class: "nav-link", method: :post %></li>
            <% end %>
          </ul>
        </div>
        <div class="container">
          <% if flash.notice %>
            <div class="alert alert-success">
              <%= flash.notice %>
            </div>
          <% end %>
        </div>
      </header>
<-->

 <!--
<nav class="navbar navbar-expand-md navbar-dark bg-info">
-->
  <nav class="navbar navbar-expand-md navbar-dark bg-info p-1">
      <a href="/" class="navbar-brand ml-3 font-weight-bold">review_check</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar4">
          <span class="navbar-toggler-icon"></span>
      </button>
      <!--
      <div class="navbar-collapse collapse" id="navbar4">
      -->
      <div class="collapse navbar-collapse justify-content-start" id="navbarNav4">
          <ul class="navbar-nav mr-auto">
            <% if logged_in? %>
                <li class="nav-item active">
                    <%= link_to "ログアウト", logout_path, class: "nav-link", method: :delete %>
                </li>
            <% else %>
                <li class="nav-item active">
                  <%= link_to "GitHubでログイン", "/auth/github", class: "nav-link", method: :post %>
                </li>
            <% end %>
            <!--
            <% if flash.notice %>
                <div class="alert alert-danger" role="alert">
                  <li class="nav-item justify-content-end">
                    <%= flash.notice %>
                  </li>
                </div>
            <% end %>
            -->
          </ul>
      </div>
  </nav>
    <main>
      <section>
        <h2 class="text-center my-3">review_checkとは？</h2>
        <div class="container mb-3">
            <h3>使い方</h3>
            <p>「Googleの口コミ」ボタンを押した後に表示されるURL、もしくGooglの口コミを知りたい施設を検索した際のURLを検索窓に入力してください</p>
        </div>
      </section>
      <ul class="navbar-nav mr-auto">
          <% if flash.notice %>
            <div class="alert alert-danger h-25 mt-3" role="alert">
              <li class="nav-item justify-content-end">
                <%= flash.notice %>
              </li>
            </div>
          <% end %>
      </ul>
      <% if logged_in? %>
        <h5 class= "nav-item my-3 mx-3 font-weight-bold text-info">ようこそ <%= current_user.name %>さん</h5>
      <% end %>
      <h3 class= "my-3 mx-3 font-weight-bold">口コミチェックしたいURLを入力</h3>
        <div class="mx-5">
          <%= form_with url: results_path, method: :post do |form| %>
            <%= form.text_field :url %>
            <%= form.submit %>
          <% end %>
        </div>
        <%= yield %>
          <!-- Optional JavaScript -->
          <!-- jQuery first, then Popper.js, then Bootstrap JS -->
          <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </main>
    <footer>
    </footer>
  </body>
</html>
