<!DOCTYPE html>
<html>
  <head>
    <title>ReviewCheck</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container">
        <%= link_to "review_check", root_path, class: "navbar-brand mr-auto" %>
        <div class="navbar-nav">
          <% if logged_in? %>
            <div class="nav-item">
              <p>ようこそ <%= current_user.name %>さん</p>
              <%= link_to "ログアウト", logout_path, class: "nav-link", method: :delete %>
            </div>
          <% else %>
            <div class="nav-item">
              <%= link_to "GitHubでログイン", "/auth/github", class: "nav-link", method: :post %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="container">
        <% if flash.notice %>
          <div class="alert alert-success">
            <%= flash.notice %>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
